/** Menu items - top level only; otherwise the colour didn't apply to submenu items that have inner submenu, which looked confusing. */

window#selenium-ide menubar > menu {

  color: green;

}



/* Following doesn't work

window#selenium-ide {

  border-color: green !important;

}



window#selenium-ide menubar, window#selenium-ide menubar * {

  background-color: white !important;

}/**/
